body {
    background-color: #51BD44;
  }

.login-container{
    display: flex;
    justify-content: space-evenly;
}

h1 {
    color:#fff;
    font-family: 'Kanit', sans-serif;
    font-size: 150px;
}

h6{
    color: #fff;
    font-family: 'Kanit', sans-serif;
}

.card-login{
    width: 400px;
    
}

footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    background-color: #51BD44; 
    color: #fff; 
    padding: 10px; 
  }
  /* styles.css */

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #51BD44;
    padding: 10px 0;
    border-bottom: 1px solid #51BD44;
    height: 100px;
}

.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #ecf0f1;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right:20px;
    margin:20px;
}

.nav-list li {
    display: inline-block;
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    font-weight: bold;
}

.nav-list a:hover {
    color: #bdc3c7;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }

.bild {
    
}

.kaste {
    padding-top: 30;
    align-items:center;
    width: 50vw;
    display: flex;
    justify-content: center;
}

.card.card-login{
    padding-top:100;
}
