<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BaumBro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>BaumBro</h1>
        <div class="login-container">
            <div class="login-form">
                <h2>Find your tree</h2>
                <form action="/login" method="post">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <br>
                    <label for="password">Passwort:</label>
                    <input type="password" id="password" name="password" required>
                    <br>
                    <input type="submit" value="Login">
                </form>
                <p>Noch kein Konto? <a href="/register">Hier registrieren</a></p>
            </div>
        </div>
    </header>
    <footer>
        <a href="#">Impressum</a>
        <a href="#">Kontakt</a>
        <a href="#">Über uns</a>
    </footer>
</body>
</html>
