{% extends 'base.html' %}

{% block content %}
<div class="container-login">
    <div class="bild">
            <img src="static/baumundlogo.png" alt="baum" style="width: 70vw; height: 85vh">
    </div>
    <div class ="kaste">
        <div class="bg-info-light login-container">
            <div class="row align-items-center">
            </div>
                <div class="card card-login">
                    <h2 class="card-header">LOGIN</h2>
                    <form action="/login" method="post" class="ml-2 mt-4">
                        <label for="username" class="mx-3" >Benutzername:</label>
                        <input type="text" class="mx-3" id="username" name="username" required>
                        <br>
                        <label for="password" class="mx-3 my-2" >Passwort:</label><br>
                        <input type="password" class="mx-3" id="password" name="password" required>
                        <br>
                        <button type="submit" class="mx-3 my-2 btn w-10 mb-8 btn-primary shadow">submit</button>
                        {% if error %}
                            <p class=error>{{ error }}
                        {% endif %}
                    </form>
                    <p class="mx-3">Noch kein Konto? <a href="/sign_up">Hier registrieren</a></p>
                </div>
        </div>
    </div>
</div>    

{% endblock %}
