{% extends "base.html" %}

{% block content %}

<div class="d-flex outer-container mt-4">

<div class="map-container mb-4">
    <div id="map" class="mx-4"></div>
</div>

<div class="baueme-container" >
{% for baum in baeume %}

<a class="baum-link" href="/baum/{{baum.baumnummer}}">
    <div class="inner-container">
        <h3>{{ baum.baumnamedeu }}</h3>
        <h3>{{ baum.baumnummer }}</h3>
        <h3>{{ baum.latitude }}</h3>
        <h3>{{ baum.longitude }}</h3>
        <h3>{{ baum.kategorie }}</h3>
    </div>
</a>
{% endfor %}
</div>
</div>

<script src="{{ url_for('static', filename='js/universal.js') }}">
</script>


<script>
    // Iterate over the baeume array
    {% for baum in baeume %}
        // Get latitude and longitude parameters from the `baum` object
        var latitude = {{ baum.latitude }};
        var longitude = {{ baum.longitude }};
        
        // Check if latitude and longitude are valid
        if (!isNaN(latitude) && !isNaN(longitude)) {
            console.log('Latitude:', latitude);
            console.log('Longitude:', longitude);
            
            // Create a marker with popup
            var marker = L.marker([latitude, longitude], { title: "{{ baum.baumnamedeu }}", riseOnHover: true, interactive: true }).addTo(map);
            marker.bindPopup("<b>{{ baum.baumnamedeu }}</b><br>{{ baum.baumnummer }}");
            
            // Create a closure to capture the current marker
            (function(marker) {
                // Add click event listener to the marker
                marker.on('click', function(e) {
                    marker.openPopup();
                    
                });
            })(marker);
        } else {
            console.error('Latitude or longitude is invalid');
        }
    {% endfor %}
</script>


{% endblock %}