{% extends "base.html" %}

{% block content %}
<script src="{{ url_for('static', filename='js/extract.js') }}"></script>
<h1>Extractor</h1>

<p>Upload your picture here.</p>
<form action="/upload-image" method="post" enctype="multipart/form-data">
    <label for="image">Bild auswählen:</label>
    <input type="file" id="image" name="image" accept="image/*" required><br>
    
    <input type="hidden" id="user_lat" >
    <input type="hidden" id="user_lon">

    <input type="submit" id="send_coordinates"value="Hochladen">
</form>

<p id="locationDisplay"></p>
{% endblock %}